

include: 
  - docker-compose.base.yml

services:
  api:
    extends:
      file: ./SpoordockAPI/docker-compose.yml
      service: api-debug
    container_name: spoordock_api
    env_file:
      - .env
    depends_on:
      liquibase:
        condition: service_completed_successfully
    networks:
      - spoordok_network

  frontend-dev:
    extends:
      file: ./frontend/docker-compose.yml
      service: frontend-dev
    container_name: spoordok_frontend_dev
    networks:
      - spoordok_network
    ports: !override
      - "6002:5173"
    depends_on:
      api:
        condition: service_healthy
    environment:
      - NODE_ENV=development
      - VITE_API_BASE_URL=http://localhost:6001