

include: 
  - docker-compose.base.yml

services:
  api:
    extends:
      file: ./SpoordockAPI/docker-compose.yml
      service: api
    container_name: spoordock_api_debug
    env_file:
      - .env
    depends_on:
      liquibase:
        condition: service_completed_successfully
    networks:
      - spoordok_network