


services: 
  processor:
    build: 
      context: .
      dockerfile: Dockerfile
      target: release
    container_name: llm_processor
    ports:
      - "8000:8000"
    profiles:
      - release
    volumes:
      - ./.docling-models:/models

  processor-debug:
    build: 
      context: .
      dockerfile: Dockerfile
      target: debug
    container_name: llm_processor_debug
    ports:
      - "8000:8000"
      - "5678:5678"  # Debugger port
    environment: 
      - ELASTICSEARCH_URL=http://processor-elastic-db:9200

    volumes:
      - ./src:/app
      - ./.docling-models:/models
    profiles:
      - debug

  processor-elastic-db:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    container_name: processor-elastic-db
    environment:
      - node.name=es01
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - xpack.license.self_generated.type=trial
      - xpack.security.http.ssl.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    profiles:
      - debug
      - release