services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./.qdrant-data:/qdrant/storage
    networks:
      - spoordok_network
    
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ${OLLAMA_MODELS:-./.ollama-data}:/root/.ollama