
include: 
  - ./docker-compose.shared.yml

services: 
  rag-entry:
    build: 
      context: .
      dockerfile: Dockerfile
      target: release
    container_name: rag-entry
    ports:
      - "8000:8000"
    profiles:
      - release
    volumes:
      - ./.models:/models

  rag-entry-debug:
    build: 
      context: .
      dockerfile: Dockerfile
      target: debug
    container_name:  rag-entry
    ports:
      - "8000:8000"
      - "5678:5678"  # Debugger port
    environment: 
      - QDRANT_URL=http://qdrant:6333
    volumes:
      - ./prompts.yml:/config/prompts.yml
      - ./src:/app
      - ./.models:/models

  