

services:
  api: 
    container_name: spoordock_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6001:6001"
    
  api-debug:
    container_name: spoordock_api_debug
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ./src:/workspace/src:cached
      - ./pom.xml:/workspace/pom.xml:cached
      - ./target:/workspace/target:cached
      - ./.mvn/.cache:/root/.m2
    ports:
      - "6001:6001"
      - "5005:5005"  # JDWP debug port
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:6001/health" ]
      interval: 3s
      timeout: 2s
      start_period: 60s
#      test: ["CMD-SHELL", "wget -q --spider http://localhost:6001/health || exit 1"]
#      interval: 5s
#      timeout: 5s
#      start_period: 60s
#      retries: 5
